@model IList<DomainModel.Clanarina>
@{
  ViewBag.Title = "Članarine";
}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Članarina</th>
        <th scope="col">Cijena</th>
        <th scope="col">Od</th>
        <th scope="col">Do</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.NazivClanarina</td>
          <td>@item.CijenaClanarina</td>
          <td>@item.OdGodine</td>
          <td>@item.DoGodine</td>
          <td><a asp-action="Edit" asp-route-id="@item.IdClanarina" class="btn btn-dark">Edit <i class="fas fa-edit ms-1"></i></a></td>
          
        </tr>
      }
      </tbody>
  </table>
</div>
<p>
  <a asp-action="Create" class="btn btn-sm btn-primary">Add new role</a>
</p>
