@model IList<DomainModel.Racun>
@{
  ViewBag.Title = "Računi";
}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Datum računa</th>
        <th scope="col">Račun plaćen</th>
        <th scope="col">Ukupno</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td><a asp-action="Details" asp-route-id="@item.IdRacun">@item.Ime</a></td>
          <td><a asp-action="Details" asp-route-id="@item.IdRacun">@item.Prezime</a></td>
          <td>@item.DatumRacuna.ToString("dd.MM.yyyy.")</td>
                    @if(item.Placeno == null || item.Placeno == false)
                    {
                        <td>Ne</td>
                    }
                    else
                    {
                        <td>Da</td>
                    }
                    <td>@item.CijenaUkupno kn</td>
        </tr>
      }
      </tbody>
  </table>
</div>
