@model IList<DomainModel.OsobaList>
@{
  ViewBag.Title = "Osobe";
}
<p>
  <a asp-action="Create" class="btn btn-sm btn-primary">Dodaj novu osobu</a>
</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Status</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td><a asp-action="Details" asp-route-id="@item.IdOsoba">@item.Ime</a></td>
          <td><a asp-action="Details" asp-route-id="@item.IdOsoba">@item.Prezime</a></td>
          <td>@item.Status.ToString()</td>
          <td>@item.Email</td>
          <td>
                        @if(User.Claims.Last().Value == "1" || User.Claims.Last().Value == "2")
                        {
                            <form method="post" asp-action="Delete" asp-route-id="@item.IdOsoba">
                                <button type="submit" class="btn btn-danger confirm-delete">Delete <i class="fas fa-trash-alt ms-1"></i></button>
                            </form>
                        }   
          </td>
        </tr>
      }
      </tbody>
  </table>
</div>


@*@section Scripts {
  <script>
  $(function () {
    $('.blokirajclana').each(function () { 
      $(this).change(function () {        
        blokirajClana($(this).val(), $(this).data('osobaId'), $(this).data('status'));
      });
    });
  });
  </script>
}*@
